body {
  max-width: 720px;
  width:80%;
  margin: auto;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 150px;
}
body {
  color:white;
  font-family: monospace;
}
body {
  animation: textShadow;
}
html {
  height: 100%;
  background-color: black;
  background-image: radial-gradient(rgba(10, 10, 10, 0.685), rgb(0, 0, 0) 100%), repeating-linear-gradient(#000000 10px, #313131 20px, #000000 30px);
  background-attachment: fixed;
}
hr {
  border: 0px;
  border-top: 1px dashed white;
}
li::marker {
  content: "> ";
}
li { 
  padding-bottom: .5em;
}
ul {
  padding-left: 1em;
}
​ pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}
/* For desktop: */
dt a {
  font-weight: bold;
  text-decoration: none;
  border-bottom: #fff 1px dashed;
}
pre {
  font-size: 1em;
}
dd, dt, p, .inline {
  font-size: 1em;
}
/*desktop tag*/
.desktop {
  display: block;
}
.mobile {
  display: none;
}

dd {
  padding-left: 2em;
  text-indent:-2em;
}

.logo {
  animation: slowGlow 5s linear infinite;
}

.crt {
  font-weight: bold;
}
.crt:hover {
  text-shadow: 1px 1px 7px rgba(255,255,255, 0.5), -1px 1px 7px rgba(255,255,255, 0.5), -1px -1px 7px rgba(255,255,255, 0.5), 1px -1px 7px rgba(255,255,255, 0.5);
}
.blink {
  animation: blinker .6s linear infinite;
}
/*currently unused*/
@keyframes blinker {
  0% {
      opacity: 1;
 }
  50% {
      opacity: .25;
 }
  100% {
      opacity: 0;
 }
}

@keyframes slowGlow {
  0% {
    text-shadow: 1px 1px 7px rgba(255,255,255, 0.1), -1px 1px 7px rgba(255,255,255, 0.1), -1px -1px 7px rgba(255,255,255, 0.1), 1px -1px 7px rgba(255,255,255, 0.1);
 }
  15% {
    text-shadow: 1px 1px 7px rgba(255,255,255, 0.25), -1px 1px 7px rgba(255,255,255, 0.25), -1px -1px 7px rgba(255,255,255, 0.25), 1px -1px 7px rgba(255,255,255, 0.25);
}
  50% {
    text-shadow: 1px 1px 7px rgba(255,255,255, 0.66), -1px 1px 7px rgba(255,255,255, 0.66), -1px -1px 7px rgba(255,255,255, 0.66), 1px -1px 7px rgba(255,255,255, 0.66);
 }
  85% {
    text-shadow: 1px 1px 7px rgba(255,255,255, 0.25), -1px 1px 7px rgba(255,255,255, 0.25), -1px -1px 7px rgba(255,255,255, 0.25), 1px -1px 7px rgba(255,255,255, 0.25);
}
  100% {
    text-shadow: 1px 1px 7px rgba(255,255,255, 0.1), -1px 1px 7px rgba(255,255,255, 0.1), -1px -1px 7px rgba(255,255,255, 0.1), 1px -1px 7px rgba(255,255,255, 0.1);
 }
}

button {
  border-radius: 0px;
  background-color: rgba(0,0,0,0);
  color: white;
  border: 1px dashed white;
  font-family: monospace;
  padding: 4px 8px 4px 8px
}

button:active {
  /* background-color:rgba(255,255,255,.5); */
  background-color: white;
  color:black;
}
button:focus {
  border-radius: 0px;
  border: 1px dashed white;
}
@media (pointer:none), (pointer:coarse) {
  pre {
      font-size: 2vw;
      color:white;
 }
  body {
      max-width: 80%;
      font-size: 1.5vw;
 }
  .inline {
      display: inline;
 }
  button {
      width: 15vw;
      font-size: 3.5vw;
 }
  dd, dt, p {
      font-size: 1.5vw;
 }
  .desktop {
      display: none;
 }
  .mobile {
      display: block;
 }
  ul {
      padding-left: 1.5vw;
 }
}
.container {
  display: flex;
 /* Remove horizontal 'justify-content' center if you want the base text not to move */
  align-items: center;
}
/* ADD CURSOR */
.txt-type > .txt {
  border-right: 0.08rem solid #fff;
  padding-right: 2px;
 /* Animating the cursor */
  animation: blinkin 0.8s infinite;
}
/* ANIMATION */
@keyframes blinkin {
  0% {
      border-right: 0.08rem solid rgba(255, 255, 255, 1);
 }
  100% {
      border-right: 0.08rem solid rgba(255, 255, 255, 0.2);
 }
}

.progressBar {
  display: inline;
  color:rgb(0, 255, 0);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(58, 255, 58, .05);
  /*animation: rainbow 2s linear infinite;*/
}

.project_title {
  font-size: 1em;
}

a:link {
  color: white;
  font-weight: bold;
}
a:visited {
  color: rgb(205, 205, 205);
}
a:hover {
  color: rgb(0, 255, 0);
}
a:active {
  color: rgb(0, 155, 0);
}

@keyframes rainbowBar {
  0% {
    color: rgb(255, 60, 60);
    background-color: rgba(255, 60, 60, .1);
 }
  20% {
    color: rgb(255, 255, 60);
    background-color: rgba(255, 255, 60, .1);
}
  40% {
    color: rgb(0, 255, 0);
    background-color: rgba(0, 255, 0, .1);
 }
  60% {
    color: rgb(56, 142, 255);
    background-color: rgba(56, 142, 255, .1);
}
  80% {
    color: rgb(208, 55, 255);
    background-color: rgba(208, 55, 255, .1);
 }
 100% {
  color: rgb(255, 60, 60);
  background-color: rgba(255, 60, 60,.1);
 }
}

@keyframes rainbowText {
  0% {
    color: rgb(255, 100, 100);
 }
  20% {
    color: rgb(255, 255, 100);
}
  40% {
    color: rgb(30, 255, 30);
 }
  60% {
    color: rgb(86, 172, 255);
}
  80% {
    color: rgb(238, 85, 255);
 }
 100% {
  color: rgb(255, 100, 100);
 }
}

#thisthing {
  background: rgb(20, 20, 20);
  width: 100px;
  height: 100px;
  position: absolute;
  left: 30%;
  top: 5em;
  transform: rotate(45deg);
  z-index: -99;
}

#support-btn {
  animation: rainbowText 5s linear infinite;
}