body {
  max-width: 720px;
  width:80%;
  margin: auto;
  height: 100%;
}
body {
  color:white;
  font-family: monospace;
}
body {
  animation: textShadow;
}
html {
  height: 100%;
  background-color: black;
  background-image: radial-gradient(rgba(10, 10, 10, 0.685), rgb(0, 0, 0) 100%), repeating-linear-gradient(#000000 10px, #313131 20px, #000000 30px);
}
hr {
  border: 0px;
  border-top: 1px dashed white;
}
li::marker {
  content: "> ";
}
li { 
  padding-bottom: 1em;
}
ul {
  padding-left: 1em;
}
​ pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}
/* For desktop: */
pre {
  font-size: 1em;
}
dd, dt, p, .inline {
  font-size: 1em;
}
/*desktop tag*/
.desktop {
  display: block;
}
.mobile {
  display: none;
}
/* unvisited link */
a:link {
  color: white;
  font-weight: bold;
}
/* visited link */
a:visited {
  color: rgb(155,155,155);
}
/* mouse over link */
a:hover {
  color: hotpink;
}
/* selected link */
a:active {
  color: blue;
}
dd {
  padding-left: 2em;
  text-indent:-2em;
}

.logo {
  animation: slowGlow 5s linear infinite;
}

.crt {
  font-weight: bold;
}
.crt:hover {
  text-shadow: 1px 1px 7px rgba(255,255,255, 0.5), -1px 1px 7px rgba(255,255,255, 0.5), -1px -1px 7px rgba(255,255,255, 0.5), 1px -1px 7px rgba(255,255,255, 0.5);
}
.blink {
  animation: blinker .6s linear infinite;
}
/*currently unused*/
@keyframes blinker {
  0% {
      opacity: 1;
 }
  50% {
      opacity: .25;
 }
  100% {
      opacity: 0;
 }
}

@keyframes slowGlow {
  0% {
    text-shadow: 1px 1px 7px rgba(255,255,255, 0.0), -1px 1px 7px rgba(255,255,255, 0.0), -1px -1px 7px rgba(255,255,255, 0.0), 1px -1px 7px rgba(255,255,255, 0.0);
 }
 15% {
  text-shadow: 1px 1px 7px rgba(255,255,255, 0.0), -1px 1px 7px rgba(255,255,255, 0.0), -1px -1px 7px rgba(255,255,255, 0.0), 1px -1px 7px rgba(255,255,255, 0.0);
}
  50% {
    text-shadow: 1px 1px 7px rgba(255,255,255, 0.5), -1px 1px 7px rgba(255,255,255, 0.5), -1px -1px 7px rgba(255,255,255, 0.5), 1px -1px 7px rgba(255,255,255, 0.5);
 }
 85% {
  text-shadow: 1px 1px 7px rgba(255,255,255, 0.0), -1px 1px 7px rgba(255,255,255, 0.0), -1px -1px 7px rgba(255,255,255, 0.0), 1px -1px 7px rgba(255,255,255, 0.0);
}
  100% {
    text-shadow: 1px 1px 7px rgba(255,255,255, 0.0), -1px 1px 7px rgba(255,255,255, 0.0), -1px -1px 7px rgba(255,255,255, 0.0), 1px -1px 7px rgba(255,255,255, 0.0);
 }
}

button {
  border-radius: 0px;
  background-color: rgba(0,0,0,0);
  color: white;
  border: 1px dashed white;
  font-family: monospace;
  padding: 2px, 5px;
  width: 5em;
}

button:active {
  /* background-color:rgba(255,255,255,.5); */
  background-color: white;
  color:black;
}
button:focus {
  border-radius: 0px;
  border: 1px dashed white;
}
@media (pointer:none), (pointer:coarse) {
  pre {
      font-size: 2vw;
      color:white;
 }
  body {
      max-width: 80%;
      font-size: 1.5vw;
 }
  .inline {
      display: inline;
 }
  button {
      width: 15vw;
      font-size: 3.5vw;
 }
  dd, dt, p {
      font-size: 1.5vw;
 }
  .desktop {
      display: none;
 }
  .mobile {
      display: block;
 }
  ul {
      padding-left: 1.5vw;
 }
}
.container {
  display: flex;
 /* Remove horizontal 'justify-content' center if you want the base text not to move */
  align-items: center;
}
/* ADD CURSOR */
.txt-type > .txt {
  border-right: 0.08rem solid #fff;
  padding-right: 2px;
 /* Animating the cursor */
  animation: blinkin 0.8s infinite;
}
/* ANIMATION */
@keyframes blinkin {
  0% {
      border-right: 0.08rem solid rgba(255, 255, 255, 1);
 }
  100% {
      border-right: 0.08rem solid rgba(255, 255, 255, 0.2);
 }
}

.progressBar {
  display: inline;
  color:#3aff3a;
}

#FAUX {
  display: none;
}