.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

body {
    height: 98vh;
    color: white;
    font-size: 1.2em;
    font-family: monospace;
}

pre {
    color: orange;
}

html {
    padding: 0px;
    margin: 0px;
    background-image: radial-gradient(rgba(10, 10, 10, 0.685), rgb(0, 0, 0) 100%), repeating-linear-gradient(#000000 11px, #313131 22px, #000000 33px);
}